REACT_APP_WS_CAPTIONS_URL="wss://<API-ID>.execute-api.<REGION>.amazonaws.com/<STAGE>"
REACT_APP_STREAM_PLAYBACK_URL="https://<ID>.<ZONE>.playback.live-video.net/api/video/v1/<ZONE>.<ACCOUNT_ID>.channel.<MANIFEST>"
REACT_APP_CAPTIONS_LANGUAGES="<LANGUAGE-CODE-1>-<LANGUAGE-CODE-2>-<...>"
REACT_APP_ENABLE_TRANSLATE="<true>/<false>"